@using Microsoft.AspNetCore.Identity;
@using Module35_SocialNetwork.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager;


<div class="block-reg background-white">
    <h4 class="center"></h4>

</div>